<h1><%= @profile.dname %>'s Profile</h1>
<%= image_tag @profile.dpicture.variant(resize: "400x400") %>
<h2>Bio: </h2>
<h4><%= @profile.bio %></h4>
<h4>Age: <%= @profile.age %></h4>
<% unless current_user == @profile.user %>
  <h3>Mutual friends: </h3>
<% else %>
  <h3>Your friends: </h3>
<% end %>
<% unless @friends.nil? %>
  <% @friends.each do |friend| %>
    <% if friend.profile %>
      <%= link_to friend.profile.dname, profile_path(friend.profile) %><br>
    <% else %>
      <%= friend.name %><br>
    <% end %>
  <% end %>
<% else %>
  <h3>You have no friends you lonely asshole</h3>
<% end %>
<%= link_to "Back to Timeline", root_path %>